
body {

background-color :#263238 ;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  border : 10px solid #b0bec5;
}

li a {
  display: block;
  color: #000;
  padding: 8px 20px;
  text-decoration: none;
  text-align : center ;
  padding: 10px ;
  font-weight: 600 ;
  font-size : 20px ; 
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color:#90a4ae;
  color: white;
}


#header {
text-align: center;
color:#cfd8dc;
font-size : 100px ;

} 


#links-div{
float : left ;
margin-left: 25%;

}



#richt-div{
float : right ;
margin-right: 25% ;
}


h2 {
  padding-left :40% ;
  font-size : 30px ;
  color: #cfd8dc;
  font-family : sans-serif  ;
  
}